@import "tailwindcss";

body {
  background-image: url("/src/assets/bg-image/hero-image.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: top center;
  background-color: #1b1c1e;
}

@media (max-width: 640px) {
  body {
    background-image: url("/src/assets/bg-image/hero-image-sm.jpg");
    background-repeat: no-repeat;
    background-size: 140% 20%;
    background-color: #1b1c1e;
  }
}
